/*!
  Name: Social Share Buttons
  Author: Victor Freitas
  Author URI: http://jogarmais.com.br
  Description: Estilização da page do plugin
  Version: 1.0
*/
@import "compass";

// BASE
@import "base/variables"; // variables

// ADMIN
@import "admin/_page"; // page