@font-face {
	font-family: '#{$prefix}-icomoon';
	src:url('../fonts/#{$prefix}-icomoon.eot?-jpxyj3');
	src:url('../fonts/#{$prefix}-icomoon.eot?#iefix-jpxyj3') format('embedded-opentype'),
		url('../fonts/#{$prefix}-icomoon.ttf?-jpxyj3') format('truetype'),
		url('../fonts/#{$prefix}-icomoon.woff?-jpxyj3') format('woff'),
		url('../fonts/#{$prefix}-icomoon.svg?-jpxyj3##{$prefix}-icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="#{$prefix}-icon-"], [class*=" #{$prefix}-icon-"] {
	font-family: '#{$prefix}-icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}