// GRID
$container			: 970px;
$content			: 635px;
$sidebar			: 305px;


// Colors
$fbColor			: #3b5998;
$ttColor			: #00aced;
$gpColor			: #dd4b39;
$gmailColor         : #DC4A3D;
$emailColor         : #0166FF;
$printColor         : #61D1D5;
$pinColor			: #cb2027;
$inColor			: #007bb6;
$tColor				: #385774;
$whatsColor         : #49B13B;
$purpleLight		: #a04fcf;
$colorDefault		: #393535;
$colorCount 		: #F3F3F3;
$colorWhite         : #ffffff;
$colorSilver        : #333333;
$colorGrey          : #ebebeb;
$colorLightGray     : #f9f9f9;
 
// Background
$bg-body			: #f6fbfd;

// Fonts
$office-R			: "regular";
$office-M			: "IT266_0";
$office-B			: "bold";

$fontDefault    	: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontSizeDefault    : 13px;
$prefix             : "jm-share";




