// GRID
$container			: 970px;
$content			: 635px;
$sidebar			: 305px;


// Colors
$fbColor			: #3b5998;
$ttColor			: #00aced;
$gpColor			: #dd4b39;
$pinColor			: #cb2027;
$inColor			: #007bb6;
$tColor				: #385774;
$purpleLight		: #a04fcf;
$colorDefault		: #393535;
$colorCount 		: #efefef;
$colorWhite         : #ffffff;
$colorSilver        : #333333;
 
// Background
$bg-body			: #f6f6f6;

// Fonts
$office-R			: "regular";
$office-M			: "IT266_0";
$office-B			: "bold";

$fontDefault    	: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontSizeDefault    : 13px;




