.jm-ssb-settings-wrap {
    background: #f6fbfd;
    padding: 5px 10px;

    .description {
        display: table;
        width: 100%;
    }
}

.jm-ssb-settings-placements td,
.jm-ssb-icons-settings td label {
    background-color: #ebebeb;
    background-image: -webkit-linear-gradient(#f9f9f9, #ebebeb);
    background-image: -o-linear-gradient(#f9f9f9, #ebebeb);
    background-image: linear-gradient(#f9f9f9, #ebebeb);
    border: 1px solid #ccc;
}

.jm-ssb-settings-title {
    background-color: #EDEDED;
    border-bottom-width: 1px;
    border-color: #ccc;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-top: 0;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 30px;
    margin: 1em 0;
    position: relative;
    text-indent: 3px;
    top: 16px;
}

.table-configurations th,
.table-extras th {
    font-weight: normal;
}

.jm-ssb-settings-placements td,
.jm-ssb-icons-settings td label {
    @include border-radius( 3px );
    float: left;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 4px;
    position: relative;
    text-indent: 5px;
}

.jm-ssb-settings-placements td {
    left: 12px;
    padding: 5px;
    top: 12px;
}

.jm-ssb-icons-settings td label {
    padding: 0 8px;
    top: -2px;
}

.jm-ssb-icons-settings img {
    @include border-radius( 4px );
    display: inline-block;
    height: 20px;
    margin-left: -5px;
    margin-right: 5px;
    margin-top: 4px;
    width: 20px;
}

.jm-ssb-icons-settings input {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 2px;
}

.jm-ssb-sharing-report-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.widefat .jm-ssb-sharing-report-center {
    left: 18px;
    position: relative;
}
.jm-ssb-sharing-report-table thead th:first-child {
    width: 50%;
}
.widefat .jm-ssb-sharing-report-center:last-child {
    left: 8px;
}
.jm-ssb-sharing-report-table thead th:last-child,
.jm-ssb-sharing-report-table tbody td:last-child {
    font-weight: bolder;
}

.jm-ssb-icons-default {
    display: none;
}

.jm-ssb-icon {
    border-radius: 3px;
    color: $colorWhite;
    display: inline-block;
    font-size: 28px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.jm-ssb-icon-gmail {
    color: $gmailColor;
    font-size: 30px;
}

@mixin icon( $class, $content, $color ) {

    .jm-ssb-icon-#{$class} {
        background-color: $color;

        &:before {
            content: "#{$content}";
        }
    }
}

@include icon( facebook, "\ea8c", $fbColor );
@include icon( google, "\ea88", $gpColor );
@include icon( twitter, "\ea91", $ttColor );
@include icon( whatsapp, "\e610", $whatsColor );
@include icon( linkedin, "\eac9", $inColor );
@include icon( pinterest, "\e600", $pinColor );
@include icon( tumblr, "\e60d", $tColor );
@include icon( gmail, "\e60e", $colorWhite );
@include icon( email, "\e605", $emailColor );
@include icon( printer, "\e607", $printColor );

.option-theme-secondary,
.option-theme-total-counter {
    display: none;
    margin-bottom: 15px;
    margin-top: 15px;
}