.#{$prefix}-settings-wrap {
    background: $bg-body;
    padding: 5px 10px;
    position: relative;

    .description {
        display: table;
        width: 100%;
    }

    .#{$prefix}-faq {
        margin: -8px 0 5px;
    }
}

.#{$prefix}-settings-placements td,
.#{$prefix}-icons-settings td label {
    background-color: $colorGrey;
    background-image: -webkit-linear-gradient( $colorLightGray, $colorGrey );
    background-image: -o-linear-gradient( $colorLightGray, $colorGrey );
    background-image: linear-gradient( $colorLightGray, $colorGrey );
    border: 1px solid #ccc;
}

.#{$prefix}-settings-title {
    background-color: $colorGrey;
    border-bottom-width: 1px;
    border-color: #ccc;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-top: 0;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 30px;
    margin: 1em 0;
    position: relative;
    text-indent: 3px;
    top: 16px;

    .information-cache {
        color: #ACACB7;
        max-width: 300px;
        position: absolute;
        right: 10px;
    }
}

.table-configurations th,
.table-extras th {
    font-weight: normal;
}

.#{$prefix}-settings-placements td,
.#{$prefix}-icons-settings td label {
    @include border-radius( 3px );
    float: left;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 4px;
    position: relative;
    text-indent: 5px;
}

.#{$prefix}-settings-placements td {
    left: 12px;
    padding: 5px;
    top: 12px;
}

.#{$prefix}-icons-settings td label {
    padding: 0 8px;
    top: -2px;
}

.#{$prefix}-icons-settings img {
    @include border-radius( 4px );
    display: inline-block;
    height: 20px;
    margin-left: -5px;
    margin-right: 5px;
    margin-top: 4px;
    width: 20px;
}

.#{$prefix}-icons-settings input {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 2px;
}

.#{$prefix}-icons-default {
    display: none;
}

.#{$prefix}-icon {
    border-radius: 3px;
    color: $colorWhite;
    display: inline-block;
    font-size: 28px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.#{$prefix}-icon-whatsapp {
    background-color: $whatsColor;
    @include border-radius( 6px );
}

@mixin icon( $class, $color, $content ) {

    .#{$prefix}-icon-#{$class} {
        color: $color;

        &:before {
            content: "#{$content}";
        }
    }
}

@include icon( facebook, $fbColor, '\e602' );
@include icon( twitter, $ttColor, '\e604' );
@include icon( google, $gpColor, '\e601' );
@include icon( whatsapp, #ffffff, '\e610' );
@include icon( pinterest, $pinColor, '\e608' );
@include icon( linkedin, $inColor, '\e606' );
@include icon( tumblr, $tColor, '\e60f' );
@include icon( gmail, $gmailColor, '\e60e' );
@include icon( email, $emailColor, '\e605' );
@include icon( printer, $printColor, '\e607' );

.option-theme-secondary,
.option-theme-total-counter {
    display: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

.#{$prefix}-pre {
    display: inline;
    font-family: monospace;
    white-space: pre-line;
}

.#{$prefix}-code {
    background-color: #444343;
    color: #F4F4F4;
    height: 195px;
    padding: 10px;
    position: relative;
    top: 5px;
    width: 100%;

    .code-align {
        left: 15px;
        position: absolute;
        top: 0;
        font-family: monospace;
    }

    .nc {
        color: #f92672;
    }

    .s1 {
        color: #e6db74;
    }

    .k {
        color: #66d9ef;
    }

    .mi {
        color: #ae81ff;
    }

    .sp {
        position: relative;
        top: -10px;
    }

    .alr {
        left: 30px;
        position: relative;
        top: -15px;
    }

    .gn {
        color: #a6e22e;
    }
}

.#{$prefix}-code-shortcode {
    height: 10px;
    line-height: 16px;

    .code-align {
        top: 7px;
    }
}

span.tablenav-pages-navspan.disabled {
    background: #eee;
    background: rgba(0,0,0,.05);
    color: #a0a5aa;
    padding: 3px 10px 7px;
}


@mixin th( $reference ) {
    .#{$prefix}-sharing-reports thead
    .column-#{$reference} {
        width: 10%;
    }
}

@include th( Facebook );
@include th( Google );
@include th( Twitter );
@include th( Linkedin );
@include th( Pinterest );
@include th( Total );