.jm-ssb-total-share-counter {
	float: left;
	font-style: italic;
	height: 28px;
    margin-right: 50px;
	position: relative;
	top: -5px;

  aside {
	border: 0;
	bottom: 0;
	display: block;
	font-size: 12px;
	font-weight: 700;
	font: inherit;
	height: 15px;
	left: 0;
	line-height: 1;
	margin: 0;
	padding: 0;
	right: 0;
	text-align: center;
	vertical-align: baseline;
	width: 60px;

	&:first-child {
		color: #727372;
		font-size: 22px;
		position: absolute;
		top: 0;
	}
		
	&:nth-child(2) {
		color: #000;
		font-size: 10px;
		line-height: 2.5;
		position: absolute;
	}

  }

  .slash {
	-ms-transform: rotate(20deg); 
	-webkit-transform: rotate(20deg);
	color: #BDBDBD;
	font-size: 27px;
	left: 46px;
	margin: 0 12px;
	position: relative;
	top: 0;
	transform: rotate(20deg);
	width: 2px;
  }
}