.jm-ssb-social {
	font-family: $fontDefault;
	font-size: 14px;
	list-style-type: none;
	margin-bottom: 15px;
	position: relative;
}

.jm-ssb-shared {
	display: inline-block;
	margin-right: 1px;
	position: relative;
	vertical-align: middle;

	a {
		cursor: pointer;
		display: inline-block;
	}

	a .jm-ssb-icon {
		@include border-radius( 3px );
		@include filter( brightness( 105% ) );
		background-size: cover;
		border-radius: 5px;
		color: $colorWhite;
		display: inline-block;
		font-size: 32px;
		height: 32px;
		margin-right: 2px;
		text-align: center;
		width: 32px;
	}

	a .jm-ssb-icon-sheet {
		@include border-radius( 6px 0 );
	}

	a .jm-ssb-icon-radius {
		@include border-radius( 4px );
	}

	@mixin icon( $class, $color, $content ) {

		a .jm-ssb-icon-#{$class} {
			color: $color;

			&:before {
				content: "#{$content}";
			}
		}
	}

	@include icon( facebook, $fbColor, '\e602' );
	@include icon( twitter, $ttColor, '\e604' );
	@include icon( google, $gpColor, '\e601' );
	@include icon( pinterest, $pinColor, '\e608' );
	@include icon( linkedin, $inColor, '\e606' );
	@include icon( gmail, $gmailColor, '\e60e' );

	a .jm-ssb-icon-whatsapp {
		background-color: $whatsColor;
		color: $colorWhite;

		&:before {
			content: "\e610";
		}
	}

	a .jm-ssb-icon-tumblr:before {
		color: $tColor;
		content: "\e60f";
		font-size: 38px;
		position: relative;
		top: -1px;
	}

	a .jm-ssb-icon-email:before {
		color: $emailColor;
		content: "\e605";
		font-size: 36px;
		position: relative;
		top: -1px;
	}

	a .jm-ssb-icon-printfriendly:before {
		@include border-radius( 4px );
		background-color: $printColor;
		color: #676464;
		content: "\e607";
		left: 4px;
		position: relative;
	}

	a .jm-ssb-icon-sms {
		background-image: url( '../icons/sms.svg' );
		position: relative;
		top: 1px;
	}

	 &:hover {
	 	@include filter( brightness( 80% ) );
	}

	&:hover > .jm-ssb-counter {
		left: 50%;		
		opacity: 1;
	}
}

@media screen and ( min-width: 768px ) {

	.jm-ssb-whatsapp,
	.jm-ssb-sms {
		display: none;
	}
}

@media screen and ( max-width: 768px ) {

	.jm-ssb-print-friendly,
	.jm-ssb-email,
	.jm-ssb-gmail {
		display: none;
	}
}