.#{$prefix} .#{$prefix}-button a:hover {
	background: none;
}

.#{$prefix}-social {
	font-family: $fontDefault;
	font-size: 14px;
	list-style-type: none;
	margin-bottom: 15px;
	position: relative;
}

.#{$prefix}-social .#{$prefix}-button a {
	border-bottom: 0;
}

.#{$prefix}-button {
	display: inline-block;
	margin-right: 1px;
	position: relative;
	vertical-align: middle;

	a {
		cursor: pointer;
		display: inline-block;
	}

	a .#{$prefix}-icon {
		@include border-radius( 3px );
		@include filter( brightness( 105% ) );
		background-size: cover;
		border-radius: 5px;
		color: $colorWhite;
		display: inline-block;
		font-size: 32px;
		height: 32px;
		margin-right: 2px;
		text-align: center;
		width: 32px;
	}

	a .#{$prefix}-icon-sheet {
		@include border-radius( 6px 0 );
	}

	a .#{$prefix}-icon-radius {
		@include border-radius( 4px );
	}

	a .#{$prefix}-icon-printfriendly {
	    background-color: $printColor;
	}

	a .#{$prefix}-icon-whatsapp {
	    background-color: $whatsColor;
	}


	@mixin icon( $class, $color, $content ) {

		a .#{$prefix}-icon-#{$class} {
			color: $color;

			&:before {
				content: "#{$content}";
			}
		}
	}

	@include icon( facebook, $fbColor, '\e602' );
	@include icon( twitter, $ttColor, '\e604' );
	@include icon( google, $gpColor, '\e601' );
	@include icon( whatsapp, #ffffff, '\e610' );
	@include icon( pinterest, $pinColor, '\e608' );
	@include icon( linkedin, $inColor, '\e606' );
	@include icon( tumblr, $tColor, '\e60f' );
	@include icon( gmail, $gmailColor, '\e60e' );
	@include icon( email, $emailColor, '\e605' );
	@include icon( printfriendly, #777777, '\e607' );

	 &:hover {
	 	@include filter( brightness( .8 ) );
	}

	&:hover > .#{$prefix}-counter {
		left: 50%;		
		opacity: 1;
	}
}

@media screen and ( min-width: 768px ) {

	.#{$prefix}-whatsapp {
		display: none;
	}
}

@media screen and ( max-width: 768px ) {

	.#{$prefix}-print-friendly,
	.#{$prefix}-email,
	.#{$prefix}-gmail {
		display: none;
	}
}