.jm-ssb-social {
	font-family: $fontDefault;
	font-size: 14px;
	list-style-type: none;
	margin-bottom: 15px;
	position: relative;
}

.jm-ssb-shared {
	display: inline-block;
	margin-right: 1px;
	position: relative;
	vertical-align: middle;

	a {
		cursor: pointer;
		display: inline-block;

		.jm-ssb-icon {
			@include border-radius( 3px );
			@include filter( brightness( 105% ) );
			background-size: cover;
			border-radius: 5px;
			display: inline-block;
			font-size: 32px;
			height: 32px;
			margin-right: 2px;
			text-align: center;
			width: 32px;
			color: $colorWhite;
		}

		.jm-ssb-icon-sheet {
			@include border-radius( 6px 0 );
		}

		.jm-ssb-icon-radius {
			@include border-radius( 4px );
		}

		.jm-ssb-icon-facebook:before {
			color: $fbColor;
			content: "\e602";
		}

		.jm-ssb-icon-twitter:before {
			color: $ttColor;
			content: "\e604";
		}

		.jm-ssb-icon-google:before {
			color: $gpColor;
			content: "\e601";
		}

		.jm-ssb-icon-whatsapp {
			background-color: $whatsColor;

			&:before {
				content: "\e610";
			}
		}

		.jm-ssb-icon-sms {
			background-image: url( '../icons/sms.svg' );
			position: relative;
			top: 1px;
		}

		.jm-ssb-icon-pinterest:before {
			color: $pinColor;
			content: "\e608";
		}

		.jm-ssb-icon-linkedin:before {
			color: $inColor;
			content: "\e606";
		}

		.jm-ssb-icon-tumblr:before {
			color: $tColor;
			content: "\e60f";
			font-size: 38px;
			position: relative;
			top: -1px;
		}

		.jm-ssb-icon-gmail:before {
			color: $gmailColor;
			content: "\e60e";
		}

		.jm-ssb-icon-email:before {
			color: $emailColor;
			content: "\e605";
			font-size: 36px;
			position: relative;
			top: -1px;
		}

		.jm-ssb-icon-printfriendly:before {
			@include border-radius( 4px );
			background-color: $printColor;
			color: #676464;
			content: "\e607";
			left: 4px;
			position: relative;
		}

	 &:hover {
	 	@include filter( brightness( 80% ) );
		}
	}
	&:hover .jm-ssb-counter {
		left: 50%;		
		opacity: 1;
	}	
}

.jm-ssb-whatsapp,
.jm-ssb-sms {
	display: none;
}

// -----------------------------------------------------
// -- Mobile
// -----------------------------------------------------

@media screen and (max-width: 768px) {

	.jm-ssb-whatsapp,
	.jm-ssb-sms,
	.icon-whatsapp {
		display: inline-block;
	}

	.jm-ssb-email,
	.jm-ssb-gmail,
	.jm-ssb-print-friendly {
		display: none;
	}
}

.jm-ssb-whatsapp-unique {

	a {
		border-bottom: 0 !important;
		text-decoration: none !important;
	}

	.icon-whatsapp {
		background-image: url( '../icons/whatsapp.svg' );
		background-size: cover;
		border-radius: 3px;
		height: 28px;
		width: 28px;
	}
}