.#{$prefix}-theme-total-share {
	color: #fff;
	font-size: 10px;
	margin-bottom: 20px;
}

.#{$prefix}-total-share {
	display: inline-block;
	line-height: normal;

	i,
	span {
		display: inline-block;
		vertical-align: middle;
		color: #fff;
	}

	span {
		margin-left: 5px;
		position: relative;
	}
}

.#{$prefix}-total-share-btn {
			transition: background .2s;
		-ms-transition: background .2s;
	-webkit-transition: background .2s;
	@include border-radius( 3px );
	@include box-shadow( rgba(0,0,0,.25) 0 -2px 0 inset );
	background: #555;
	display: inline-block;
	height: 32px;
	line-height: normal;
	margin-right: 3px;
	text-align: center;
	vertical-align: bottom;
	width: 32px;

	a,
	a:hover {
		@include border-radius( 3px );
		color: inherit;
		cursor: pointer;
		display: block;
		padding: 7px;
		text-transform: none;
	    font-size: 11px;
	}
	
	&:active {
    	@include box-shadow( rgba(0,0,0,.25)0 0 0 inset );
    	position: relative;
    	top: 1px;
	}

	&.facebook {
		font-family: ProximaNova-Bold,Arial;
		font-size: 11px;
		font-weight: bold;
		margin-left: 0;
		text-transform: uppercase;
		width: auto;
	}

	span {
		font-size: 11px;
	}

	i:before {
		color: inherit;
		font-size: 16px;
		line-height: normal;
	}
}

@mixin icon( $class, $content, $color ) {
	.#{$prefix}-total-share .#{$class} {
		background: $color;

		a:hover {
			background: darken( $color, 10% );
		}

		.#{$prefix}-icon-#{$class} {
			color: $colorWhite;
		}
	}

	.#{$prefix}-icon-#{$class}:before {
		content: "#{$content}";
	}
}

@include icon( facebook, "\e602", $fbColor );
@include icon( twitter, "\ea91", $ttColor );
@include icon( google, "\ea88", $gpColor );
@include icon( whatsapp, "\e610", $whatsColor );
@include icon( linkedin, "\eac9", $inColor );
@include icon( pinterest, "\e600", $pinColor );

@media ( min-width: 768px ) {

	.#{$prefix}-total-share .whatsapp {
		display: none;
	}
}

@media ( max-width: 768px ) {

	.#{$prefix}-total-share span {
		display: none;
	}

	.#{$prefix}-total-share-btn {
		margin-right: 6px;
	}

    .#{$prefix}-theme-total-share {
        display: inline-block;
        float: none;
        position: relative;
        top: 4px;
    }

	.#{$prefix}-total-share .linkedin {
		display: none;
	}
}